@page
@model InvestmentCalc.Pages.IndexModel
@{
    Layout = null; // Убедитесь, что вы используете этот Layout, если не хотите наследовать от основного макета
    <link rel=" stylesheet
        "
          href="
            ~/css/HomeUser.css
        "
          asp-append-version=" true " />

}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
 
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать на главную страницу!</h1>
        <p>Пожалуйста, выберите действие:</p>
        <div class="buttons">
            <a asp-page="/Registration" class="button">Регистрация</a>
            <a asp-page="/Log_In" class="button">Авторизация</a>
        </div>
    </div>
</body>
</html>