@page
@model InvestmentCalc.Pages.IndexModel
@{
    Layout = null;
    <link rel=" stylesheet" href="~/css/site(All).css" asp-append-version=" true " />

}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>

</head>
<body style="background-image: url(https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/98448b35-c65a-41d6-b7b6-c27c9307722a.png)">
    <div class="container">
        <h1>Добро пожаловать на главную страницу!</h1>
        <p>Пожалуйста, выберите действие:</p>
        <div class="buttons">
            <a asp-page="/Registration" class="button">Регистрация</a>
            <a asp-page="/Log_In" class="button">Авторизация</a>
        </div>
    </div>
</body>
</html>