@page
@model InvestmentCalc.Pages.AutorizationModel
@{
    Layout = null; 

}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel=" stylesheet" href="~/css/site(All).css" asp-append-version=" true " />
  
</head>
 <body style="background-image:url(https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/b4202591-e224-41c1-97a5-8856a1baad75.png)"; >

    <div class="container">
        <h1>Регистрация</h1>
        <form id="register-form" method="post" asp-page-handler="Register">
            <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
            <input type="email" id="email" name="email" placeholder="Электронная почта" required>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Подтвердите пароль" required>
            <button class="button" type="submit">Зарегистрироваться</button>
        </form>
        <button class="back-button" onclick="window.history.back()">Назад</button> <!-- Кнопка "Назад" -->
    </div>
</body>
</html>