@page
@model InvestmentCalc.Pages.AutorizationModel
@{
<div class="container">
    <h1>Регистрация</h1>
    <form id="register-form">
        <input type="text" id="username" placeholder="Имя пользователя" required>
        <input type="email" id="email" placeholder="Электронная почта" required>
        <input type="password" id="password" placeholder="Пароль" required>
        <input type="password" id="confirm-password" placeholder="Подтвердите пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
}