@page
@model InvestmentCalc.Pages.AutorizationModel
@{
    Layout = null; // Убедитесь, что вы используете этот Layout, если не хотите наследовать от основного макета
    <link rel=" stylesheet
        "
          href="
        ~/css/Registration.css
        "
          asp-append-version=" true " />

}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
  
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form id="register-form" method="post" asp-page-handler="Register">
            <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
            <input type="email" id="email" name="email" placeholder="Электронная почта" required>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Подтвердите пароль" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <button class="back-button" onclick="window.history.back()">Назад</button> <!-- Кнопка "Назад" -->
    </div>
</body>
</html>